body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #514F59;
    font-family: "Source Serif Pro";
  }
  
  .container {
    text-align: center;
  }
  
  .frame {
    width: 300px;
    height: 500px;
    background-color: #514F59;
    border-radius: 10px;
    margin: 0;
    overflow: hidden;
  }
  
  .dot {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    background-color: #6D72C3;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: all 1s ease;
  }
  
  .check-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  
  .check {
    font-size: 100px;
  }
  
  .text {
    font-size: 40px;
    font-weight: bold;
  }
  
  .hidden {
    display: none;
  }
  
  .frame-2 .dot {
    width: 200px;
    height: 200px;
    background-color: #6D72C3;
  }
  
  .frame-2 .check-container {
    display: block;
    opacity: 1;
  }
  